
<h1 class="display-4">Create a new account</h1>
<div class="container">
    <div class="row">
        <div class="col">
            <form>
                <div class="form-row">
                  <div class="form-group col-md-4">
                    <label for="inputEmail4">Name</label>
                    <input type="email" class="form-control" id="inputEmail4" placeholder="Bob">
                  </div>
                  <div class="form-group col-md-4">
                    <label for="inputPassword4">Second name</label>
                    <input type="password" class="form-control" id="inputPassword4" placeholder="William">
                  </div>
                  <div class="form-group col-md-4">
                    <label for="inputPassword4">Last name</label>
                    <input type="password" class="form-control" id="inputPassword4" placeholder="Alderson">
                  </div>
                </div>
                <div class="form-group">
                <div class="form-row">
                    <div class="form-group col-md-4">
                        <label for="inputEmail4">Phone number</label>
                        <input type="email" class="form-control" id="inputEmail4" placeholder="(+52) 449-158-6987">
                    </div>
                    <div class="form-group col-md-4">
                        <label for="inputPassword4">City</label>
                        <input type="password" class="form-control" id="inputPassword4" placeholder="Mexico city">
                    </div>
                    <div class="form-group col-md-4">
                        <label for="inputPassword4">State</label>
                        <input type="password" class="form-control" id="inputPassword4" placeholder="Aguascalientes">
                    </div>
                    </div>
                  <label for="inputAddress">Email</label>
                  <input type="text" class="form-control" id="inputAddress" placeholder="example@company.com">
                </div>
                <div class="form-group">
                  <label for="inputAddress2">Password</label>
                  <input type="text" class="form-control" id="inputAddress2" placeholder="**********">
                </div>
                <div class="form-group">
                    <label for="inputAddress2">Confirm Password</label>
                    <input type="text" class="form-control" id="inputAddress2" placeholder="**********">
                  </div>
                    <button type="submit" class="btn btn-primary">Sign in</button>
              </form>
        </div>
        
    </div>
</div>
