
  <!-- Navbar  -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">Dual Store</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <!-- left opctions -->
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link"  href="/" >Home<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Products</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About us</a>
        </li>
      </ul>
      <!-- right options -->
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" id="login" href="/LogIn">Log In</a>
          
        </li>
        <li class="nav-item">
         <a class="nav-link" id="signin" href="/Signin">Sign in</a> 
        </li>
        <!-- Navbar text with an inline element -->
      </ul>
    </div>
  </nav>
  <!-- Navbar end -->
<h1 class="display-4" style="text-align: center;">Create a new account</h1><br>
<div class="container">
    <div class="row">
        <div class="col">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Sign in</h5>
              <h6 class="card-subtitle mb-2 text-muted">All inputs are required *</h6>
                <form #userForm ="ngForm">
                    <div class="form-row">
                      <div class="form-group col-md-4">
                        <label for="inputEmail4">Name *</label>
                        <input type="text" class="form-control" id="name"   [(ngModel)]="first_name"  [ngModelOptions]="{standalone: true}"  placeholder="Bob">
                      </div>
                      <div class="form-group col-md-4">
                        <label for="inputPassword4">Second name *</label>
                        <input type="text" class="form-control"  [(ngModel)]="middle_name"  [ngModelOptions]="{standalone: true}"  placeholder="William">
                      </div>
                      <div class="form-group col-md-4">
                        <label for="inputPassword4">Last name *</label>
                        <input type="text" class="form-control"  [(ngModel)]="last_name"  [ngModelOptions]="{standalone: true}"  placeholder="Alderson">
                      </div>
                    </div>
                    <div class="form-group">
                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <label for="inputEmail4">Phone number *</label>
                            <input type="text" class="form-control" id="phone"  [(ngModel)]="phone_number"  [ngModelOptions]="{standalone: true}"  placeholder="(+52) 449-158-6987">
                        </div>
                        <div class="form-group col-md-4">
                            <label for="inputPassword4">City *</label>
                            <input type="text" class="form-control"  [(ngModel)]="city"  [ngModelOptions]="{standalone: true}"  placeholder="Mexico city">
                        </div>
                        <div class="form-group col-md-4">
                            <label for="inputPassword4">State *</label>
                            <input type="text" class="form-control"  [(ngModel)]="state"  [ngModelOptions]="{standalone: true}"  placeholder="Aguascalientes">
                        </div>
                        </div>
                      <label for="inputAddress">Email *</label>
                      <input type="email" class="form-control" id="email"   [(ngModel)]="email"  [ngModelOptions]="{standalone: true}"  placeholder="example@company.com">
                    </div>
                    <div class="form-group">
                      <label for="inputAddress2">Password *</label><br>
                      <span style="color: gray;">Password format valid example: Pss2341%wq</span>
                      <input type="password" class="form-control" id="password" [(ngModel)]="password"  [ngModelOptions]="{standalone: true}"  placeholder="**********">
                    </div>
                    <div class="form-group">
                        <label for="inputAddress2">Confirm Password *</label>
                        <input type="password" class="form-control" [(ngModel)]="password_confirmation"   [ngModelOptions]="{standalone: true}" placeholder="**********">
                    </div>
                    <div>
                      <div #recaptcha ></div>
                    </div><br>
                        <button class="btn btn-primary" (click)="create_user()">Sign in</button>
                  </form>
            </div>
          </div>
        </div>

        
    </div>
</div>
