<h1 class="display-4" style="text-align: center;">Forgot your password?</h1><br>
<div class="container">
    <div class="row">
        <div class="col">
            <div class="card" *ngIf="show==false && start == false" >
                <div class="card-body">
                    
                    <h5 class="card-title">Recover your password</h5>
                    <a href="/Signin" class="card-link">You do not have an account? Create a new account </a>
                    <!-- form body -->
                    <form>
                        <div class="form-group">
                        <label for="exampleInputEmail1">Email address</label>
                        <input type="email" class="form-control" id="exampleInputEmail1"  [(ngModel)]="email"  [ngModelOptions]="{standalone: true}" aria-describedby="emailHelp" placeholder="Enter email">
                        </div>
                        <button type="submit" class="btn btn-primary" (click)="SendCode()">Continue</button>
                    </form>
                   
                </div>
              </div>

              <div class="card" *ngIf="show==true" >
                <div class="card-body">
                 
                    <h5 class="card-title">Recover your password</h5>
                    <a href="/Signin" class="card-link">You do not have an account? Create a new account </a>
                    <!-- form body -->
                    <form>
                        <div class="form-group">
                        <label>A verification code has been sent enter the code to continue </label>
                        <input type="text" class="form-control"   [(ngModel)]="code_verification"  [ngModelOptions]="{standalone: true}" aria-describedby="emailHelp" placeholder="Enter code">
                        </div>
                        <button type="submit" class="btn btn-primary" (click)="ValidateCode()">Continue</button>
                    </form>
                   
                </div>
              </div>

              <div class="card" *ngIf="change==true" >
                <div class="card-body">
                 
                    <h5 class="card-title">Recover your password</h5>
                    <a href="/Signin" class="card-link">You do not have an account? Create a new account </a>
                    <!-- form body -->
                    <form>
                        <div class="form-group">
                        <label>Enter your new password and confirm </label>
                        <input type="password" class="form-control"   [(ngModel)]="password"  [ngModelOptions]="{standalone: true}" aria-describedby="emailHelp" placeholder="New password"><br><br>
                        <input type="password" class="form-control"   [(ngModel)]="password_confirmation"  [ngModelOptions]="{standalone: true}" aria-describedby="emailHelp" placeholder="Confirm password">
                        </div>
                        <button type="submit" class="btn btn-primary" (click)="ChangePassword()">Change password</button>
                    </form>
                   
                </div>
              </div>
        </div>
    </div>
</div>
