  <!-- Navbar  -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">Dual Store</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <!-- left opctions -->
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link"  href="/" >Home<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Products</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About us</a>
        </li>
      </ul>
         <!-- search products whitout session -->
        <form class="d-flex" (submit)="getProducts(SearchWordd)">
        
          <input type="text" class="form-control" [(ngModel)]="SearchWordd"  [ngModelOptions]="{standalone: true}" placeholder="Search products" >
          <button class="btn btn-outline-primary" type="submit" >Search</button>
        
        </form>
      <!-- right options -->
      <ul class="navbar-nav">
        
        <li class="nav-item" *ngIf="fullname=='Log In'">
          <a class="nav-link" id="login" href="/LogIn">{{fullname}}</a>
          
        </li>
        <li class="nav-item" *ngIf="fullname != 'Log In'">
          <a class="nav-link" id="login" href="/myorders" >{{fullname}}</a>
          
        </li>
        <li class="nav-item" *ngIf="logOut == 'Sign In'">
         <a class="nav-link" id="signin" href="/Signin">{{logOut}}</a> 
        </li>

        
        <li class="nav-item"  *ngIf="logOut == 'LogOut'">
          <a class="nav-link" id="signin"  (click)="logout()">{{logOut}}</a> 
        </li>
        

        <li class="nav-item">
          <a href="/cart"><i class="nav-link bi bi-cart"></i></a>
          
        
      </li>
      <li class="nav-item">
          <label class="nav-link">{{CounterQuantity}}</label>
      </li>
        <!-- Navbar text with an inline element -->
      </ul>
   
    </div>
  </nav>
  <!-- Navbar end -->


<!-- <h1 class="display-4" style="text-align: center;">Welcome</h1> -->
<div class="container">
  <div class="row">
    <div class="col">
        <h5>Categories</h5>
        <div class="form-check" *ngFor="let category of categories[0]">
            <input class="form-check-input" type="checkbox" value="{{category.description}}" id="defaultCheck1" (change)="change($event)">
            <label class="form-check-label" for="defaultCheck1">
              {{category.description}}
            </label>
          </div>
    </div>
    <div class="col"><h5>{{elements}} products found</h5></div>
  </div>
  <div class="row">
    <!-- <h5>{{elements}} products found</h5> -->
    <!-- <div class="col"> -->
          <div class="card "   *ngFor="let item of array">
            <br>
            <img class="card-img-top" src="{{item.images_small}}" alt="Card image cap">
            <div class="card-body">
              <a href=""></a>
                <a routerLink="/product/{{item.product_id}}" style="text-decoration: none;" href="" class="card-title">{{item.short_description}}</a><br><br>
                <h6 class="card-subtitle mb-2 text-muted">$ {{item.price}}</h6>
                <p class="card-text">{{item.long_description}}</p>
            </div>
          </div> 
    <!-- </div> -->
  </div>
</div>
