 
  
  <!-- Navbar  -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">Dual Store</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <!-- left opctions -->
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link"  href="/" >Home<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Products</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About us</a>
        </li>
      </ul>
         <!-- search products whitout session -->
        <form class="d-flex" (submit)="getProducts()">
        
          <input type="text" class="form-control" [(ngModel)]="SearchWordd"  [ngModelOptions]="{standalone: true}" placeholder="Search products" >
          <button class="btn btn-outline-primary" type="submit" >Search</button>
        
        </form>
      <!-- right options -->
      <ul class="navbar-nav">
        
        <li class="nav-item" *ngIf="fullname=='Log In'">
          <a class="nav-link" id="login" href="/LogIn">{{fullname}}</a>
          
        </li>
        <li class="nav-item" *ngIf="fullname != 'Log In'">
          <a class="nav-link" id="login" href="/myorders" >{{fullname}}</a>
          
        </li>
        <li class="nav-item" *ngIf="logOut == 'Sign In'">
         <a class="nav-link" id="signin" href="/Signin">{{logOut}}</a> 
        </li>

        
        <li class="nav-item"  *ngIf="logOut == 'LogOut'">
          <a class="nav-link" id="signin"  (click)="logout()">{{logOut}}</a> 
        </li>
        

        <li class="nav-item">
          <i class="nav-link bi bi-cart"></i>
        
      </li>
      <li class="nav-item">
          <label class="nav-link">{{CounterQuantity}}</label>
      </li>
        <!-- Navbar text with an inline element -->
      </ul>
   
    </div>
  </nav>
  <!-- Navbar end -->

<div class="container">
    <div class="row">
        <!-- <h4>Shopping Cart </h4> -->
    </div>
    <div class="row">
        <div class="col">
            <h4>Shopping Cart </h4>
            <div class="card mb-3" *ngFor="let item of cart">
                <img src="{{item.images_small}}" class="card-img-top img-size" alt="...">
                <div class="card-body">
                  <h5 class="card-title">{{item.short_description}}</h5>
                  <p class="card-text">{{item.long_description}}</p>
                  <h6>Unit price: <span>$ {{item.price}}</span></h6> <br>
                  <h6>Quantity: <input type="number" (change)="changequantity($event,item.product_id)"  value="{{item.quantity}}"> </h6> <br>
                  <h6>Subtotal: <span>$ {{item.sub_total}}</span></h6>
                  <button class="btn btn-danger" (click)="deleteItem(item.product_id)">Delete</button>
                </div>
            </div>
        </div>
        <div class="col">
            <h4>Cart summary </h4>
            <div class="card" style="width: 18rem;" >
                <div class="card-body">
                  <h5 class="card-title">Subtotal: $<span> {{subtotal}}</span></h5>
                  <h5 class="card-title">IVA: $<span> {{iva}}</span></h5>
                  <h5 class="card-title">Total: $<span> {{total}}</span></h5>
                  
                  <a href="/checkout" class="btn btn-success">Pay now</a>
                </div>
              </div>
        </div>
    </div>
</div>