  <!-- Navbar  -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">Dual Store</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <!-- left opctions -->
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link"  href="/" >Home<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Products</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About us</a>
        </li>
      </ul>
         <!-- search products whitout session -->
        <form class="d-flex" (submit)="getProducts()">
        
          <input type="text" class="form-control" [(ngModel)]="SearchWordd"  [ngModelOptions]="{standalone: true}" placeholder="Search products" >
          <button class="btn btn-outline-primary" type="submit" >Search</button>
        
        </form>
      <!-- right options -->
      <ul class="navbar-nav">
       
        <li class="nav-item" *ngIf="fullname=='Log In'">
          <a class="nav-link" id="login" href="/LogIn">{{fullname}}</a>
          
        </li>
        <li class="nav-item" *ngIf="fullname != 'Log In'">
          <a class="nav-link" id="login" >{{fullname}}</a>
          
        </li>
        <li class="nav-item" *ngIf="logOut == 'Sign In'">
         <a class="nav-link" id="signin" href="/Signin">{{logOut}}</a> 
        </li>

        
        <li class="nav-item"  *ngIf="logOut == 'LogOut'">
          <a class="nav-link" id="signin"  (click)="logout()">{{logOut}}</a> 
        </li>

        <li class="nav-item">
            <i class="nav-link bi bi-cart"></i>
          
        </li>
        <li class="nav-item">
            <label class="nav-link">{{CounterQuantity}}</label>
        </li>
        <!-- Navbar text with an inline element -->
      </ul>
   
    </div>
  </nav>
  <!-- Navbar end -->


  <!-- Display the element -->
  <div class="container">
      <div class="row">
          <div class="col-2">
            <ul class="list-group">
                <div *ngFor="let image of Gallery" >
                    <li class="list-group" >
                        
                        <img class="img-gallery" src="{{image.image}}" >
                    </li>
                </div>
              
                
              </ul>
          </div>
          <div class="col-2">
            <img src="{{ImageLargeProduct}}" class=" img-principal" >
          </div>
          <div class="col-8">
            <div class="card" >
                
                <div class="card-body">
                  <h5 class="card-title">{{NameProduct}}</h5>
                  <h6 class="card-subtitle mb-2 text-muted">$ {{ProductPrice}}</h6>
                  <p class="card-text">{{DescriptionProduct}}</p>
                  <div id="description"></div>
                  <input type="number" class="form-control"  [(ngModel)]="Quantity"  [ngModelOptions]="{standalone: true}" placeholder="Quantity"> <br>
                  <button type="button" (click)="addCart()" class="btn btn-primary">Add to cart</button> <br><br>
                  
                  <button type="button" class="btn btn-primary">Buy now</button>
                </div>
            </div>
          </div>
      </div>

  </div>

